@charset= "utf-8";


/* HTML and Body styles */

html {
	background: rgb(240,240,240);
	font-family: Comorant, Geneva, sans-serif;
	height: 100%;
}

body {
	background-color: white ;
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   min-height: 100%;   
   margin: 0px auto;
   min-width: 600px;
   max-width: 1250px;   
   width: 100%; 
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   -webkit-align-items: center;
   align-items: center;
   float: none;   
}

/* Header Styles */

header {
	width: 100%;
}

header img#logoimg {
	display: flex;
	position: relative;
	float: left;
	width: 12%;


}

/* Header Navigation Styles */

nav ul {
	width: 75%;
	
	display: -webkit-flex;
   display: flex;

   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;

   list-style: none;
   text-align: center;

   padding-top: 70px;
   
   float: right;


}


nav ul li a {
   color: black;
   display: block;
   padding: 5px 20px;
   width: 100%;
   text-decoration: none;
   
}

nav ul li a:hover {
	color: red;
}

/* User Form Styles */

input#username {
   display: inline-block;
   margin-right: 20px;
}

input#password {
   display: inline-block;
   margin-right: 15px;
}

section#summary {
   -webkit-flex: 1 1 50px;
   flex: 1 1 50px;
   padding: 20px 0px 10px 20px;
}

section#summary h1 {
   font-size: 1.8em;
   letter-spacing: 0.1em;
   line-height: 1.2em;
   font-weight: normal;
   margin-bottom: 10px;
}

section#summary h2 {
   font-size: 1.25em;
   font-weight: normal;
}

section#summary h3 {
   font-size: 1em;
   font-weight: normal; 
   margin-bottom: 20px;  
}

section#summary > img {
   display: block;
   width: 50%;
   margin: 0px auto;
}

section#summary p {
   font-size: 0.9em;
   text-align: justify;
}

section#orderSection {
   -webkit-flex: 1 1 200px;
   flex: 1 1 200px;
   margin: 20px;
}
   
/* Order Table Styles */

table#orderTable {
   margin: 15px;
   width: 95%;
   border-collapse: collapse;
}

form#orderForm fieldset {
   border: none;
   margin-left: -10px;
}

form#orderForm input[type="text"] {
   background-color: rgba(240, 233, 222, 0.5);
}

table#orderTable caption {
   font-size: 1.3em;
   font-weight: bold;
   letter-spacing: 0.2em;
   text-align: left;
   caption-side: top;
   margin-bottom: 20px;
}


table#orderTable td {
   height: 30px;
   vertical-align: top;
}

form#orderForm input#orderDate {
   text-align: left;
}

form#orderForm input[type="text"] {
   color: rgb(101, 101, 101);
}

form#orderForm select {
   display: inline-block;
   margin-left: 10px;
   color: rgb(101, 101, 101);
}

table#orderTable tr:first-of-type {
   border-bottom: 1px solid rgb(151, 151, 151);
}

table#orderTable tr td:last-of-type input {
   text-align: right;
   border: none;
}

table#orderTable tr:nth-of-type(3) {
   border-bottom: 1px solid rgb(151, 151, 151);
}

table#orderTable tr:nth-of-type(2) td, table#orderTable tr:nth-of-type(4) td {
   padding-top: 15px;
}

table#orderTable tr:nth-of-type(5) td {
   border-bottom: 6px double rgb(151, 151, 151);
}

table#orderTable tr:last-of-type td {
   padding-top: 15px;
}

table#orderTable td.rightA {
   text-align: right;
   padding-right: 10px;
}

/* Form Styles */

form#payment {
   float: left;
}

form#custInfo > fieldset#cutInfo {
   border-radius: 20px;
   -webkit-flex: 1 1 300px;
   flex: 1 1 300px;
   font-size: 0.85em;
   padding: 10px;
   margin: 10px;

} 

section#summary h1 {
   float: top;
   text-align: center;
}

section#summary img {
   width: 100%;
}

input#buttonAdd {
   float: right;
}




/* Footer Styles */


footer {
	background: linear-gradient(345deg, red, blue);
	color: white;	
	display: block;
	padding: 25px;
	width: 100%;
	text-align: center;

}